/* Buffers */
.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buffer-both-index {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

/* Inputs for forms */
/*.input-group>.input-group-prepend {*/
/*    flex: 0 0 40px;*/
/*}*/
/*.input-group .input-group-text {*/
/*    width: 100%;*/
/*}*/

/* Thumbnails for events/index */
.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 20px 4px 4px;
}
