<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил изменение вашего пароля. Вы можете это сделать по ссылке, приведенной ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали изменение пароля, то просто проигнорируйте данное письмо.</p>
<p>Ваш пароль не будет изменен, до тех пора пока вы не пройдете по сслыке вывше и создадите новый пароль.</p>
